.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background);
  min-height: 100vh;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 18px;
  min-width: 18px;
  max-width: 24px;
  max-height: 24px;
}

.icon path {
  stroke: var(--text) !important;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 32px;
}

.icon line, .icon polyline {
  fill: none;
  stroke: var(--text) !important;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 48px;
}

.country-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  background: var(--elements);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.336);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.336);
  height: 400px;
  max-height: 410px;
  max-width: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

@media (max-width: 375px) {
  .country-card-container {
    margin-bottom: 10px;
  }
}

.name {
  font-family: 'Nunito Sans';
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4%;
}

.content {
  padding: 6% 8%;
}

.content-type {
  font-weight: 600;
}
