@import 'global';

.top-bar {
    background-color: var(--elements);
    padding: 20px 12px;
    display: flex;
    justify-content: space-between;
    color: var(--text);

    @include desktop {
        padding: 20px 5%;
    }

    .logo {
        font-weight: 800;
        font-size: 1.2rem;
    }
    .theme-changer {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: .9rem;
        cursor: pointer;

        .dark-mode-text {
            margin-left: 10px;
        }
    }
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
    @include desktop {
        margin-bottom: 40px;
        justify-content: space-between;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 2rem;
    }

    @include mobile {
        flex-direction: column;
    }
    
    .search-bar {
        background-color: var(--elements);
        height: 2.4rem;
        display: flex;
        border-radius: 4px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.336);
        align-items: center;
        padding: 6px 14px;
        width: 40vw;

        @include mobile {
            margin-top: 4%;
            width: 85%;
            align-self: center;
            margin-bottom: 4%;
        }
        
        .search-input {
            border: none;
            background: transparent;
            margin-left: 18px;
            height: inherit;
            flex: 1;
            font-size: 1.2rem;
            
            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    .filter {
        font-family: 'Nunito Sans';
        border: none;
        font-weight: 600;
        padding: 4px 10px;
        border-radius: 4px;
        height: fit-content;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.26);
        background: var(--elements);
        cursor: pointer;

        @include mobile {
            width: 40%;
            margin-left: 4%;
        }

        option {
            font-family: 'Nunito Sans';
            font-weight: 600;

            &:focus {
                outline: none;
            }
        }

        &:focus {
            outline: none;
        }
    }
}

.countries {
    padding: 0px 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 400px));
    column-gap: 20px;
    row-gap: 14px;
    background-color: var(--background);
    overflow: visible;

    @include mobile {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
}