*[darktheme="false"] {
  --text: hsl(200, 15%, 8%);
  --LightModeInput: hsl(0, 0%, 52%);
  --background: rgb(250, 250, 250);
  --elements: rgb(255, 255, 255);
}

*[darktheme="true"] {
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: rgb(255, 255, 255);
}

* {
  color: var(--text);
}
